/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --height-hd: 46.5px;
  --transform-modal: -100px;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

/* Header */
#header {
  height: var(--height-hd);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #000;
  overflow: hidden;
}
#nav {
  display: inline-block;
}
#nav li {
  display: inline-block;
  position: relative;
}
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
  line-height: var(--height-hd);
  padding: 0px 24px;
  border: 0;
  width: 100%;
}
#nav li a {
  text-decoration: none;
  display: block;
}
#nav li:hover .subnav {
  display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover {
  background-color: #ccc;
  color: #000;
}
#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-width: 160px;
  top: 100%;
  left: 0;
}
#nav .subnav li {
  display: block;
}
#nav .subnav a {
  color: #000;
  padding: 8px 16px;
  width: 100%;
}
#nav .nav-arrow-down {
  font-size: 12px;
}
#header .menu-mobile-button,
#header .search-button {
  float: right;
  line-height: var(--height-hd);
  padding: 0px 24px;
  color: #fff;
}
#header .search-button:hover {
  background-color: #f44336;
  cursor: pointer;
}
#header .menu-mobile-button:hover {
  background-color: #ccc;
  cursor: pointer;
}
#header .menu-mobile-button {
  display: none;
}

/* Slider */
#slider {
  margin-top: var(--height-hd);
  padding-top: 50%;
  position: relative;
}
#slider .text-content {
  position: absolute;
  color: #fff;
  padding: 32px 16px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}
#slider .text-content .text-heading {
  margin: 10px 0;
  font-weight: 400;
  font-size: 24px;
}
#slider .text-content .text-description {
  margin: 15px 0;
  font-weight: bolder;
}

/* Content */
#content .content-section {
  margin: 0 112px;
  padding: 64px 16px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#content .content-section .content-heading {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #000;
}
#content .content-section .content-slogan {
  margin: 15px 0;
  font-style: italic;
  opacity: 0.6;
}
/* About */
.about-section #about-text {
  margin: 15px 0;
  text-align: justify;
}
.about-section .member-list {
  display: flex;
  justify-content: space-around;
  padding: 32px 0;
}
.about-section .member-item .member-name {
  margin: 15px 0;
}
.about-section .member-item .member-img {
  width: 60%;
  border-radius: 4px;
}

/* Tour */
/* Tour Tickets */
.tour-section {
  background-color: #000;
}
.tour-section #tickets-list {
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: left;
}
.tour-section #tickets-list li {
  padding: 8px 16px;
  color: #757575;
  list-style-type: none;
  border-bottom: 1px solid #ddd;
}
.tour-section #tickets-list .sold-out {
  margin-left: 16px;
  background-color: #f44336;
  padding: 0 8px;
  color: #fff;
}
.tour-section #tickets-list .quantity {
  float: right;
  padding: 0 8px;
  margin-right: 16px;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
}

/* Tour Places */
.tour-section #tour-place {
  text-align: left;
  display: flex;
  justify-content: space-around;
  padding: 32px 8px;
  margin: 0 -16px;
}
.tour-section #tour-place .place-list {
  padding: 0 8px;
}
.tour-section #tour-place .place-body {
  background-color: #fff;
  padding: 0 16px;
}
.tour-section #tour-place .place-img {
  width: 100%;
  display: block;
}
.tour-section #tour-place .place-img:hover {
  opacity: 0.6;
}
.tour-section #tour-place .place-name {
  padding-top: 15px;
}

.tour-section #tour-place .place-date,
.tour-section #tour-place .place-description {
  margin: 15px 0;
}
.tour-section #tour-place .place-name {
  font-weight: bold;
}
.tour-section #tour-place .place-date {
  opacity: 0.6;
}
.tour-section #tour-place .buy-tickets {
  padding: 8px 16px;
  margin-bottom: 16px;
  border: 0;
  background-color: #000;
  font-size: 15px;
  color: #fff;
}
.tour-section #tour-place .buy-tickets:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

/* Contact */
.contact-section .contact-body {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
}
.contact-section .contact-body .contact-col1 {
  text-align: left;
  font-size: 18px;
}
.contact-section .contact-col1 i[class*="ti"] {
  width: 30px;
  display: inline-block;
}
.content-section .contact-col2 table {
  border-spacing: 10px;
  margin-top: -10px;
}
.contact-section .contact-col2 #name,
.contact-section .contact-col2 #email {
  width: 100%;
}
.contact-section .contact-col2 #name,
.contact-section .contact-col2 #email,
.contact-section .contact-col2 #message {
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}
.contact-section .contact-col2 #name {
  float: left;
}
.contact-section .contact-col2 #email {
  float: right;
}
.contact-section .contact-col2 #message {
  width: 100%;
}
.contact-section .contact-col2 #send {
  float: right;
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  margin: 16px 0;
  font-size: 15px;
  line-height: 1.5;
  border: 0;
}
.contact-section .contact-col2 #send:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

/* Img */
.map-section img {
  width: 100%;
  display: block;
}

/* Footer */
#footer {
  text-align: center;
  padding: 64px 16px;
  background-color: #f1f1f1;
}
#footer .socials-list {
  font-size: 24px;
}
#footer .socials-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
#footer .copyright a:hover,
#footer .socials-list a:hover {
  color: rgba(0, 0, 0, 0.4);
}
#footer .copyright {
  margin: 15px 0;
  color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a {
  color: rgba(0, 0, 0, 0.6);
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.modal.open {
  display: flex;
}
.modal .modal-container {
  width: 900px;
  max-width: calc(100% - 284px);
  background-color: white;
  position: relative;
  animation: modalFadeIn ease 0.4s;
  transform: translateY(var(--transform-modal));
}
.modal .modal-container .modal-heading {
  text-align: center;
  background-color: #009688;
  padding: 42px 16px;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 400;
  color: #fff;
}
.modal .modal-container .modal-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px 16px;
  color: #fff;
}
.modal-container .modal-body .pay:hover,
.modal .modal-container .modal-close:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}
.modal .modal-container .modal-body {
  padding: 0 16px;
}
.modal-container .modal-body label {
  display: block;
  margin: 15px 0;
}
.modal-container .modal-body input {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
}
.modal-container .modal-body .pay {
  width: 100%;
  background-color: #009688;
  margin: 16px 0;
  padding: 16px;
  border: 0;
  font-weight: bolder;
  color: #fff;
}
.modal-container .modal-body .help {
  margin: 15px 0;
  float: right;
}
.modal-container .modal-body .help a {
  color: #2196f3;
}
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-600px);
  }
  to {
    opacity: 1;
    transform: translateY(var(--transform-modal));
  }
}
